.about{
    background: linear-gradient(180deg, rgba(223, 227, 235, 0.5) 0%, #FFFFFF 100%), #FFFFFF;
    box-shadow: 0px 1px 0px #DFE3EB;
    position: relative;
    z-index: 1;
    overflow:hidden;
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        &-left{
            position: relative;
            z-index: 1;
            .about-img{
                border-radius: 10px;
            }
            .about-black-dot{
                position: absolute;
                top: 93px;
                left: -98px;
                margin-left: 0;
                transform: rotate(180deg);
                z-index: -2;
                pointer-events: none;
                overflow: hidden;
            }
            .about-white-shadow{
                position: absolute;
                top: 32px;
                left: 32px;
                border-radius:10px;
                z-index: -3;
            }
            .lg-round-shape{
                position: absolute;
                top: -70%;
                left: -70%;
                opacity: 0.5;
                z-index: -1;
                pointer-events: none;
            }
        }
        &-right{
            h3{
                color: $gray_900;
                margin-bottom: 0;
            }
            p{
                margin-top: 20px;
            }
            .project-document{
                display: flex;
                align-items: center;
                margin: 36px 0;
                h2{
                    color: $primary;
                    margin-right: 16px;
                }
                span{
                    color: $gray_900;
                }
                .project-year{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 202px;
                    margin-right: 50px;
                }
                .project-completed{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                }
            }
        }

    }
}

// Responsive 
@media (min-width: 992px) and (max-width: 1200px){
    .about{
        &-content{
            &-left{
                .lg-round-shape{
                    top: -30%;
                    left: -40%;
                }
                .about-black-dot{
                    top: -30px;
                    left: 5%;
                    transform: rotate(
                       90deg
                        );
                }
                .about-white-shadow{
                    top: -30px;
                    left: 0;
                }
            }
            &-right{
                .project-document{
                    margin: 15px 0;
                    h2{
                        font-size: 40px;
                    }
                }
                .project-year{
                    margin-right: 25px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .about{
        &-content{
            &-left{
                margin-bottom: 60px;
                .about-black-dot{
                    top: -30px;
                    left: 5%;
                    transform: rotate(
                       90deg
                        );
                }
            }
            &-right{
                .project-document{
                    margin: 15px 0;
                    h2{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media (min-width: 575px) and (max-width: 767px){
    .about{
        &-content{
            padding-bottom: 50px;
            &-left{
                margin-bottom: 50px;
                .about-black-dot{
                    top: -30px;
                    left: 5%;
                    transform: rotate( 90deg);
                }
                .about-white-shadow{
                    top: -30px;
                    left: 0;
                }
            }
            &-right{
                h3{
                    font-size: 30px;
                    line-height: 40px;
                }
                .project-document{
                    margin: 15px 0;
                    h2{
                        font-size: 32px;
                        line-height: 42px;               
                    }
                    span{
                        font-size: 14px;
                    }
                    .project-year{
                        flex-direction: column;
                        align-items: flex-start;
                        margin-right: 0;
                        h2{
                            margin-right: 0;
                          }
                    }
                    .project-completed{
                        flex-direction: column;
                        align-items: flex-start;
                        h2{
                          margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 574px){
    .about{
        &-content{
            padding-bottom: 50px;
            &-left{
                margin-bottom: 50px;
                .about-black-dot{
                    display: none;
                }
                .about-white-shadow{
                    display: none;
                }
                .lg-round-shape{
                    display: none;
                }
            }
            &-right{
                h3{
                    font-size: 30px;
                    line-height: 40px;
                }
                .project-document{
                    margin: 15px 0;
                    h2{
                        font-size: 32px;
                        line-height: 42px;               
                    }
                    span{
                        font-size: 14px;
                    }
                    .project-year{
                        flex-direction: column;
                        align-items: flex-start;
                        margin-right: 0px;
                        h2{
                            margin-right: 0;
                          }
                    }
                    .project-completed{
                        flex-direction: column;
                        align-items: flex-start;
                        h2{
                            margin-right: 0;
                          }
                    }
                }
                .btn--primary{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}