.about{
    background: linear-gradient(180deg, rgba(223, 227, 235, 0.5) 0%, #FFFFFF 100%), #FFFFFF;
    box-shadow: 0px 1px 0px #DFE3EB;
    position: relative;
    z-index: 1;
    overflow:hidden;
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        &-left{
            .about-img{
                max-width: 560px;
                max-height: 540px;
            }
            .about-black-dot{
                position: absolute;
                top: 250px;
                left: 208px;
                margin-left: 0;
                transform: rotate(180deg);
                z-index: -2;
                pointer-events: none;
                overflow: hidden;
            }
            .lg-round-shape{
                position: absolute;
                top: -185px;
                left: -170px;
                opacity: 0.5;
                z-index: -1;
                pointer-events: none;
            }
            .about-white-shadow{
                position: absolute;
                top: 133px;
                left: 335px;
                border-radius:10px;
                z-index: -3;
            }
        }
        &-right{
            h3{
                color: $gray_900;
                margin-bottom: 0;
                max-width: 672px;
            }
            p{
                margin-top: 20px;
                max-width: 672px;
            }
            .project-document{
                display: flex;
                align-items: center;
                margin: 36px 0;
                h2{
                    color: $primary;
                    margin-right: 16px;
                }
                span{
                    color: $gray_900;
                }
                .project-year{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 202px;
                    margin-right: 50px;
                }
                .project-completed{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                }
            }
        }

    }
}