.about{
    background: linear-gradient(180deg, rgba(223, 227, 235, 0.5) 0%, #FFFFFF 100%), #FFFFFF;
    box-shadow: 0px 1px 0px #DFE3EB;
    position: relative;
    z-index: 1;
    overflow:hidden;
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        &-left{
            position: relative;
            z-index: 1;
            .about-img{
                max-width: 100%;
            }
            .about-black-dot{
                position: absolute;
                top: 93px;
                left: -98px;
                margin-left: 0;
                transform: rotate(180deg);
                z-index: -2;
                pointer-events: none;
                overflow: hidden;
            }
            .lg-round-shape{
                position: absolute;
                top: -30%;
                left: -2%;
                opacity: 0.5;
                z-index: -1;
                pointer-events: none;
            }
            .about-white-shadow{
                position: absolute;
                top: 32px;
                left: 32px;
                border-radius:10px;
                z-index: -3;
            }
        }
        &-right{
            h3{
                color: $gray_900;
                margin-bottom: 0;
                max-width: 672px;
            }
            p{
                margin-top: 20px;
                max-width: 672px;
            }
            .project-document{
                display: flex;
                align-items: center;
                margin: 36px 0;
                h2{
                    color: $primary;
                    margin-right: 16px;
                }
                span{
                    color: $gray_900;
                }
                .project-year{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 202px;
                    margin-right: 50px;
                }
                .project-completed{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                }
            }
        }

    }
}

// Responsive 
@media (min-width:1024px) and (max-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1023px){
    
}
@media (min-width: 768px) and (max-width: 991px){
    .about{
        &-content{
            &-left{
                margin-bottom: 60px;
            }
        }
    }
}
@media (min-width: 575px) and (max-width: 767px){
    .about{
        &-content{
            &-left{
                margin-bottom: 60px;
            }
        }
    }
}
@media (max-width: 574px){
    .about{
        &-content{
            &-left{
                margin-bottom: 60px;
            }
            &-right{
                h3{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    }
}