.project{
    background: rgba(223, 227, 235, 0.4);
    padding: 100px 0;
    h4{
        text-align:  center;
        margin-bottom: 70px;
    }
    .project-content{
        margin-bottom: 24px;
        &:nth-child(4) {
            margin-bottom: 0px;
        }
        &:nth-child(5) {
            margin-bottom: 0px;
        }
    }
    .project-work{
        &-text{
            h5{
                a{
                    text-decoration: none;
                    color: $gray_900;
                }
            }
        }
    }
}

// Responsive
@media (min-width: 1024px) and (max-width: 1199px){
  
}
@media (min-width: 992px) and (max-width: 1023px){
  
}
@media (min-width: 768px) and (max-width: 991px){
  .project-content{
    &:nth-child(4) {
        margin-bottom: 24px !important;
    }
}
}
@media (max-width: 767px){
    .project{
        padding: 50px 0;
        h4{
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 50px;
        }
    }
    .project-content{
        &:nth-child(4) {
            margin-bottom: 24px !important;
        }
        &:nth-child(5) {
            margin-bottom: 24px !important;
        }
    }
}